.page-banner {
    /*parallax styling end*/
    text-align: center;
    background-color: #234767;
    color: #FFFFFF;
    margin-top:50px;

    h1 {
        font-size: 40px;
    }

    p {
        font-size: 25px;
    }

    a > i {
        font-size: 90px;
    }

    .text-field {
        padding: 3px 0px 7px 20px;
    }
}
